<form>

    <div class="container">
        <div class="item item1"></div>

        <div class="item item2">
            <app-searchbox></app-searchbox>
        </div>
        <div class="item item3">
            <div class="label">Type</div>
        </div>
        <div class="item item4">
            <app-panel2dropdown></app-panel2dropdown>
        </div>
        <div class="item item5">
            <div class="label">Unit</div>
        </div>
        <div class="item item6">
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

            </div>
        </div>
        <div class="item item7">
            <div class="label">Block</div>

        </div>
        <div class="item item8">
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

            </div>
        </div>
        <div class="item item9">
            <div class="label">Street</div>
        </div>
        <div class="item item10">
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

            </div>
        </div>
        <div class="item item11">
            <div class="label">City</div>
        </div>
        <div class="item item12">
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

            </div>
        </div>
        <div class="item item13">
            <div class="label">State</div>
        </div>
        <div class="item item14">
            <app-panel2dropdown></app-panel2dropdown>
        </div>
        <div class="item item15">
            <div class="label">Zip Code</div>
        </div>
        <div class="item item16">
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

            </div>
        </div>
        <div class="item item17">
            <div class="label">Country</div>
        </div>
        <div class="item item18">
            <app-panel2dropdown></app-panel2dropdown>
        </div>

    </div>

</form>