<div style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 10px;">

    <div style="width: 100%;">
        <div class="select-box">
            <select name="format" id="format">
                <option>Choose a value</option>
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>

            </select>
            <div class="icons">

                <fa-icon style="color: #f92383;font-size: 16px;font-weight: bold;" class="icon" [icon]="faChevronDown">
                </fa-icon>
            </div>
        </div>
    </div>
</div>