<div style="width: 95%;margin: 0 auto;border: 2px solid #F7F5F9;border-radius: 10px;">

    <div style="display: flex; border-bottom: 2px solid #ECE9F1;">
        <div
            style="width: 50px;border-right: 2px solid #ECE9F1;height: 50px;display: flex;justify-content: center;align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172"
                style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#808080">
                        <path
                            d="M17.2,40.13333c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h137.6c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843zM17.2,80.26667c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h137.6c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843zM17.2,120.4c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h137.6c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843z">
                        </path>
                    </g>
                </g>
            </svg>
        </div>
        <div (click)="getToggle()" style="display: flex;justify-content: space-between;width: 90%;height: 50px;">
            <div
                style="display: flex;justify-content: center;align-items: center;margin-left: 5px;font-size: 14px;font-weight: 400;padding: 0 10px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #808080;">
                {{value}}</div>
            <div style="display: flex;justify-content: center;align-items: center;margin-right: 10px;"
                (click)="getToggle()">
                <fa-icon (click)="getToggle()" style="color:#69358F;cursor: pointer;" [icon]="faChevronDown"></fa-icon>
            </div>
        </div>
        <div
            style="width: 50px;height: 50px;border-left: 2px solid #ECE9F1;text-align: center;display: flex;justify-content: center;align-items: center">
            <fa-icon style="color: #FF647C;" [icon]="faTrash"></fa-icon>
        </div>




    </div>
    <!-- <hr  /> -->

    <div class="content" *ngIf="name">

        <ng-content></ng-content>
    </div>
</div>