<!-- <div style="width: 340px;display: flex;align-items: center;justify-content: end;margin-top:5px;margin-bottom: 10px;">
    <div
        style="width: 20px;height: 20px;border-radius: 50%;border: 2px solid green;display: flex;justify-content: center;align-items: center;color: green;">
        <div>+</div>
    </div>
    <div style="font-size: 14px;margin: 0 10px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #808080;">
        {{name}}</div>
</div> -->

<div class="container">
    <div class="plus">
        <div>+</div>
    </div>
    <div class="name">
        {{name}}</div>
</div>